:root {
    --color-fondo: #121212;
    --color-texto: #ffffff;
    --color-secundario: #008cff;
    --color-fondo-secundario: rgba(255, 255, 255, 0.2);
    --color-fondo-terciario: rgba(255, 255, 255, 0.4);
    --color-danger: red;
    --color-danger-hover: rgb(165, 0, 0);
    --color-hover: #31a2ff;
}

*{
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: var(--color-fondo);
    color: var(--color-texto);
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../subidos/app/FondoApp.jpg') no-repeat center center fixed; 
    background-size: cover;
}

.aplicacion-chat {
    display: flex;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

.seccion-chats-grupos {
    width: 20%;
    background-color: var(--color-fondo-secundario);
    backdrop-filter: blur(6px);
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: auto;
    margin: 20px;
    border-radius: 20px;
}

.contenedor-seccion-usuarios,
.contenedor-seccion-grupos{
    height: 35%;
    text-align: center;
}

.seccion-chats-grupos h3 {
    margin: 0 0 10px;
    color: var(--color-fondo);
}

.seccion-usuarios,
.seccion-grupos {
    padding: 10px;
    overflow-y: auto;
    user-select: none;
    max-height: 80%;
    border-radius: 20px;
}

.seccion-usuarios div,
.seccion-grupos div {
    display: flex;
    padding: 10px;
    background-color: var(--color-texto);
    color: var(--color-fondo);
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    margin-bottom: 20px;
    align-items: center;
    transition: transform 0.2s ease-in-out;
}

.seccion-usuarios div:hover,
.seccion-grupos div:hover {
    transform: scale(1.04);
}

.imagen-usuario,
.icono-grupo {
    width: 35px;   
    height: 35px;
    border-radius: 50px;      
    object-fit: cover; 
    margin-right: 10px;
}


.separador-izquierdo{
    border: none;
    border-top: 5px solid var(--color-fondo);
    width: 50%;           
    margin: 20px auto;
    
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 260px;
    border-radius: 10px;
}

#boton-agregar-usuario,
#boton-crear-grupo{
    padding: 0.8em 1em;
    border: none;
    border-radius: 50px;
    background-color: var(--color-texto);
    color: var(--color-fondo);
    cursor: pointer;
    margin-top: 60px;
    font-size: 1.1em;
    width: 100%;
    transition: transform 0.2s ease-in-out;
    
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 90% !important;
}

#boton-agregar-usuario:hover,
#boton-crear-grupo:hover{
    transform: scale(1.04) translateX(-48%);
}

#boton-agregar-usuario{
    bottom: 190px;
}

#boton-crear-grupo{
    bottom: 120px;
}

.cerrar-sesion{
    padding: 0.8em 1em;
    border: none;
    border-radius: 50px;
    background-color: var(--color-danger);
    color: var(--color-fondo);
    cursor: pointer;
    margin-top: 60px;
    font-size: 1.1em;
    width: 100%;
    transition: transform 0.25s ease-in-out;

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 90% !important;
    bottom: 10px;
    transition: transform 0.2s, background-color 0.2s, color 0.2s;
}

.cerrar-sesion:hover{
    transform: scale(1.04) translateX(-48%);
    color: var(--color-texto);
    background-color: var(--color-danger-hover);
}

#encabezado-chat{
    display: flex;
    padding: 15px;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

#encabezado-chat img{
    width: 80px;
    height: 80px;
}

#encabezado-chat span{
    width: 100%;
    font-size: 2.2em;
}

.ventana-chat {
    flex-grow: 1;
    overflow-y: auto;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.mensaje{
    padding: 12px;
    background-color: var(--color-fondo-secundario);
    border-radius: 10px;
    margin-bottom: 30px;
    backdrop-filter: blur(6px);
}

/* Estilos para el mensaje */
.mensaje .info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
   
}

.nombre-remitente {
    font-size: 1.2em;
    color: var(--color-fondo);
    user-select: none;
}

.fecha-envio {
    font-size: 0.8em;
    color: var(--color-texto);
    text-align: right;
    user-select: none;
}

.contenido-mensaje {
    padding: 10px;
    border-radius: 5px;
    margin-top: 5px;
    width: 100%;
}

.mensaje .contenido img {
    max-width: 400px;
    border-radius: 20px;
}

.mensaje .contenido video {
    max-width: 400px;
    border-radius: 20px;
}

.contenedor-archivo-descargable {
    background-color: var(--color-texto);
    padding: 30px 50px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.contenedor-archivo-descargable p{
    width: 100%;
    border-bottom: solid 1px var(--color-fondo);
    color: var(--color-fondo);
    text-align: center;
}

.contenedor-archivo-descargable img {
    width: 90px !important;
}

.contenedor-archivo-descargable a {
    display: inline-block;
    padding: 8px 16px;
    background-color: var(--color-texto); 
    color: var(--color-fondo);
    text-decoration: none;
    border-radius: 20px;
    transition: background-color 0.3s ease; 
}

.contenedor-archivo-descargable a:hover {
    background-color: rgb(222, 222, 222);
}


.contenido-chat{
    border-radius: 20px;
    height: 75%;
    max-height: 90vh;
    overflow-y: auto;
    overflow-x: hidden;
}

/* Estilos para la entrada de chat */
.entrada-chat {
    display: none;
    padding: 10px 20px;
    align-items: center;
    height: 6vh;
    position: absolute;
    left: 60%;
    transform: translateX(-49%);
    width: 76.5%;
    bottom: 22px;

    border-radius: 10px;
    background: var(--color-texto);
    box-sizing: border-box;
    font-size: 1.2em;
    color: var(--color-texto);
    outline: none;
    user-select: none;
    backdrop-filter: blur(6px);
}

#seccion-usuarios-grupo{
    width: 15%;
    background-color: var(--color-fondo-secundario);
    backdrop-filter: blur(6px);
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: auto;
    margin: 20px;
    border-radius: 20px;
    text-align: center;
}

.usuario-grupo{
    display: flex;
    align-items: center;
    width: 100%;
}

.usuario-grupo img{
    margin-left: 10px;
}

.usuario-grupo button{
    margin-left: auto;
    background-color: var(--color-danger);
    border-radius: 50px;
    padding: 8px;
    transition: background-color 0.2s, color 0.2s;
}

.usuario-grupo button:hover{
    color: var(--color-texto);
    background-color: var(--color-danger-hover);
}


#boton-agregar-usuario-grupo{
    padding: 0.8em 1em;
    border: none;
    border-radius: 50px;
    background-color: var(--color-texto);
    color: var(--color-fondo);
    cursor: pointer;
    margin-top: 60px;
    font-size: 1.1em;
    width: 100%;
    transition: transform 0.25s ease-in-out;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 90% !important;
    bottom: 75px;
    transition: transform 0.2s;
}

#boton-agregar-usuario-grupo:hover{
    transform: scale(1.04) translateX(-48%);
}

#abandonar-grupo-btn{
    padding: 0.8em 1em;
    border: none;
    border-radius: 50px;
    background-color: var(--color-danger);
    color: var(--color-fondo);
    cursor: pointer;
    margin-top: 60px;
    font-size: 1.1em;
    width: 100%;
    transition: transform 0.25s ease-in-out;

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 90% !important;
    bottom: 10px;
    transition: transform 0.2s, background-color 0.2s, color 0.2s;
}

#abandonar-grupo-btn:hover{
    transform: scale(1.04) translateX(-48%);
    color: var(--color-texto);
    background-color: var(--color-danger-hover);
}


#previsualizacion-archivo{
    display: flex;
    background-color: var(--color-texto);
    backdrop-filter: blur(6px);
    position: absolute;
    bottom: 60px;
    right: 0px;
    border-radius: 20px 20px 0px 20px;
    padding: 30px;
    color: var(--color-fondo);
}

#previsualizacion-archivo img,
#previsualizacion-archivo video {
    max-width: 100%;
    max-height: 300px;
    border-radius: 20px;
}

#nombre-archivo{
    text-align: center;
}

#eliminar-archivo{
    position: absolute;
    top: 15px;
    right: 15px;

    padding: 10px;
    background-color: transparent;
    cursor: pointer;

    display: flex;
    width: 25px; 
    height: 25px; 
    background-image: url('../subidos/app/iconos/icono-cerrar.png'); 
    background-size: cover; 
    transition: transform 0.2s ease;
}

#eliminar-archivo:hover{
    transform: scale(1.2);
}
  
#datos-envio-form {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    align-items: center;
    align-content: center;
}

#contenido {
    height: 25px;
    width: 90%;
    padding: 10px;
    background: transparent;
    border: none;
    outline: none;
}

#archivo {
    display: none;
}

#archivo-label{
    display: flex;
    align-items: center;
    width: 5%;
    justify-content: space-evenly;
    margin: 0;
}

#archivo-icono-imagen{
    transition: transform 0.2s ease;
}

#archivo-icono-imagen:hover{
    transform: scale(1.1);
}

#enviar-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5% !important;
    font-size: 10px;
    margin: 0;
    padding: 0;
    background: transparent;
    transition: transform 0.2s ease;
}

#enviar-btn:hover{
    transform: scale(1.1);
}


.icono-imagen::before,
.icono-enviar::before{
    display: flex;
    width: 30px;
    height: 30px;
}

.icono-imagen:before {
    content: url('../subidos/app/iconos/icono-archivo.png'); 
}

.icono-enviar:before {
    content: url('../subidos/app/iconos/icono-enviar.png');
}

.contenedor-enlace{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 30px;
}

#enlace-retroceso {
    display: flex;
    width: 50px; 
    height: 50px; 
    background-image: url('../subidos/app/iconos/icono-retroceso.png'); 
    background-size: cover; 
    transition: transform 0.2s ease;
}

#enlace-retroceso:hover {
    transform: scale(1.3);
}

button, input[type="submit"] {
    background-color: var(--color-secundario);
    color: var(--color-fondo);
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover, input[type="submit"]:hover {
    background-color: var(--color-hover);
}

/* Estilos para los modales */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: var(--color-fondo-terciario);
    backdrop-filter: blur(6px);
}

.contenido-modal {
    margin: 15% auto;
    padding: 20px;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;

    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.boton-cerrar-modal {
    position: absolute;
    top: 50px;
    right: 50px;

    padding: 10px;
    background-color: transparent;
    cursor: pointer;
    transition: transform 0.25s ease-in-out;

    display: flex;
    width: 40px; 
    height: 40px; 
    background-image: url('../subidos/app/iconos/icono-cerrar.png'); 
    background-size: cover; 
    transition: transform 0.2s ease;
}

.boton-cerrar-modal:hover,
.boton-cerrar-modal:focus {
    color: var(--color-danger-hover);
    transform: scale(1.2);
    background-color: transparent;
    
}

.mensaje-ok {
    color: green;
}

.mensaje-error {
    color: red;
}

.fade-out {
    opacity: 1;
    transition: opacity 1s ease-out;
}
.fade-out.ocultar {
    opacity: 0;
}


.contenedor-formulario-previo {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.formulario-previo {
    padding: 2em;
    text-align: center;
    width: 70%;
}

.formulario-previo h1 {
    margin-bottom: 1em;
    font-size: 3em;
    color: var(--color-texto);
    user-select: none;
}

.formulario-previo input[type="text"],
.formulario-previo input[type="password"],
.formulario-previo input[type="email"] {
    padding: 1.2em 1em;
    margin: 0.5em 0;
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.2);
    box-sizing: border-box;
    font-size: 1.2em;
    color: var(--color-texto);
    transition: transform 0.2s ease-in-out;
    outline: none;
    user-select: none;

    width: 100%;
    border: none;
}
.formulario-previo input[type="text"]:hover,
.formulario-previo input[type="password"]:hover,
.formulario-previo input[type="email"]:hover{
    transform: scale(1.02);
}

.formulario-previo input[type="text"]::placeholder,
.formulario-previo input[type="password"]::placeholder
.formulario-previo input[type="email"]::placeholder {
    color: var(--color-texto); 
    opacity: 1; 
}

.formulario-previo input[type="submit"] {
    padding: 1.2em 1em;
    border: none;
    border-radius: 50px;
    background-color: var(--color-texto);
    color: #000000;
    cursor: pointer;
    margin-top: 60px;
    font-size: 1.2em;
    width: 100%;
    transition: transform 0.25s ease-in-out;
}

.formulario-previo input[type="submit"]:hover {
    transform: scale(1.02);
}

.formulario-previo label {
    display: block;
    margin: 10px 0 5px;
}

.links {
    margin-top: 1em;
    font-size: 0.9em;
}

.links a {
    color: var(--color-secundario);
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}

.links a:hover {
    color: var(--color-texto);
}

.mensaje-error-registro {
    color: var(--color-danger);
    display: none;
}

.campo-invalido {
    border: 1px solid var(--color-danger) !important;
}

